* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
    min-height: 100vh;
    line-height: 1.5;
}

button:active {
    transform: scale(0.95);
}

button i {
    margin-right: 8px;
}

/****************************************** Header */

header h1 {
    color: #222;
}

/******************************************* Main */
main {
    flex-grow: 1;
}

#contactForm {
    max-width: 340px;
    padding: 24px;
    border-radius: 12px;
    margin: 24px auto;
    border: 1px solid #006391;
    background: #000091;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
}

#contactForm h2 {
    text-align: center;
    margin-bottom: 1.5rem
}

.input-icon-container {
  width: 100%;
  max-width: 400px; /* opcional */
  margin-bottom: 16px;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

#contactForm input {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #006391;
    padding: 4px 36px 4px 4px;
}

#contactTextArea {
    width: 100%;
    max-height: 120px;
    resize: none;
    padding: 4px 6px;
    border: 1px solid rgb(0, 118, 173);
    border-radius: 6px;
    margin-bottom: 1rem;
}

#contactForm input:hover, #contactTextArea:hover {
    box-shadow: 0 0 6px rgba(0, 132, 194, 1);
}

.input-wrapper i {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #ccc;
  pointer-events: none; /* 🔹 evita que bloquee clics en el input */
}

.div-buttons {
    display: flex;
    justify-content: space-evenly;
}

footer {
    color: #ccc;
}

